*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/* font family metropolis must be added for zomato */
a{
    color:unset /*to unset*/
}
header{
    background-image:url(../images/hero.png);
    background-position: center;
    background-size: cover;/*allows to cover the entire screeen*/
    height: 60vh;/*anything will be shown until heigth is used, cant use percentage because it is relative to parent and parent doesnt have height now*/
}/*element selector is used because only one header is in this page*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 90%;
    margin: 0px auto;/*tom and bottom margins 0px, right and left automatic or equal*/
}
nav .nav-item{
    color: white;
    margin: 0px 10px;
    
    
}

nav div.container{
    display: flex;
    justify-content: space-around;
}

nav div.nav-item.app {
    font-size: 0.9rem;
    font-weight: 900;
}
nav div.nav-item {
    font-size: 1.1rem;
    font-weight: 700;
}

